body{
    padding: 0%;
    margin: 0%;
}

.top-navbar .row{
    background-color: rgb(238, 228, 181);
}
.top-navbar .col{
    display: flex;
    align-items: center;
    height: 24px;
}
.top-navbar .col h5{
    margin-top: 6px;
    font-size: 12px;
    margin-left:250px;

}
.top-navbar .col a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
    color: orange;
    font-weight: 700;
}
.top-navbar .col span{
    padding:2px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 4px;
    color: white;
    background-color: orange;
}
.bg-body-tertiary {
    --bs-bg-opacity: none;
  
}
.navbar-nav{
    margin-left: 120px;
}
.navbar img{
    height: 80px;
    width: 80px;
    margin-left: 250px;
}
.navbar h4{
    font-size: 15px;
    border-radius: 50%;
    padding: 20px;
    border: 2px dotted red;
    color:purple;
}
.navbar-nav span{
    margin-top: 14px;
    font-size: 20px;
    
}
.navbar-nav a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 15px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: orange;
    text-decoration-line: underline;
}
.navbar-nav a.navlink{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-nav a.right-icons{
    text-decoration: none;
    color: black;
    margin-left: 200px;
}
.navbar-nav a.right-icons span{
    margin-left: 12px;
}
.search-bar .parent-orange{
    border-radius: 11px;
    width: 300px;
    background-color: orange;
    padding:13px 13px ;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search-bar .parent-orange:hover{
   
    background-color: black;
    
}
.search-bar .parent-orange a{
    font-size: 16px;
    font-weight: bolder;
    margin: 0px 18px;        
    }
    
.search-bar .parent-orange span{
    
    font-size: 20px;
    font-weight: bold;
    color: white;
       
    }
   .search button, input, optgroup, select, textarea {
        margin: 0;
        width: 436px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .search [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        border-radius: 55px;
        width: 85px;
        height: 47px;
        border: none;
        background: orange;
    }
    .search button, input, optgroup, select, textarea {
        margin: 0;
        width: 500px;
        border: none;
        height: 45px;
        border-radius: 48px;
        margin-top: 0px;
        margin-right: -40px;
        border: 1px solid orange;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .search .material-symbols-outlined {
        font-size: 20px;
    }
    .search-bar .col-6{
        position: relative;
    }
.category{
    display: flex;
    align-items: center ;
    justify-content: center;
}
.category .h5, h5 {
    /* height: 23px; */
    font-size: 15px;
    font-weight: 57;
    color: orange;
    margin-right: 12px;
}
.category .h2, h2 {
    font-size: 17px;
}
.category .search .material-symbols-outlined {
    font-size: 21px;
    margin-left: 5px;
}
.category{
    position: absolute;
    top: 18%;
    left: 43%;
}

.category .material-symbols-outlined {
    font-size: 20px;
    margin-left: 13px;
}
.search-bar .col-6 .most-searched{
    display: flex;
    margin-top: 4px;
}
.most-searched a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin: 0px 6px;
    
}

.most-searched a:hover{
    color: orange;
}
.most-searched h5{
    font-weight: 400;
    color: black;
    margin-top: 2px;
}
.special-offer .col-3{
    height: 50%;
    background-color:rgba(255,165,0,.1);
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    border: 1.8px dotted orange;

}

.spacing{
    display: flex;
    justify-content: space-between;
}
.spacing h6{
    font-size: 13px;
        margin-right: 10px;
    
}
.spacing h6.one{
margin: 0px;
}
.launch-time{
    
    display: flex;
    
}

.launch-time div{
    flex-basis: 100px;
}
.launch-time div p {
    background-color: pink;
    border-radius: 50%;
    margin: 8px;
    padding: 10px 10px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}
.launch-time div span{
    margin-left: 20px;
    font-weight: bolder;
}

.line{
    width: 318px;
    overflow: hidden;
    height: 8px;
    background-color:rgba(128,128, 128,.3) ;
    border-radius: 50px;
}
.line h1{
    height: 8px;
    width: 130px;
    background-color:pink;
    border-radius: 50px;
}

.special-offer .col-7{
    position: relative;
}
.special-offer .col-7 img{
    border-radius: 10px;
    width: 16%;
    height: 412px;
}
.two-images{
    width: 100%;
    position: 
}
.two-images .col-5{
    width: 50%;
    display: flex;
}

.two-images .col-5 img{
    height: 200px;
}


.special-offer img{
    width: unset;
    height: 250px;
    border-radius: 6px;
    margin-left: 23px;
}
.special-offer h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Grandstander', cursive;

}
.price{
    margin-left: 68px;
}
.price.h6, h6 {
    margin-left: 44px;
    font-size: 1rem;
}
.special-offer .col{
    width: 50px;
    height: 50px;
    color:red;
}

.text-data{
    position: absolute;
    top:100px;
    right: -401px;

}
.text-data a {
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 15px;
    background-color: #ef617a;
    font-family: 'Grandstander', cursive;

}
.text-data .h3, h3 {
    font-size: 21px;
    font-weight: bold;
    color: #ef617a;
    font-family: 'Grandstander', cursive;

}
.text-data .h1, h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Grandstander', cursive;

}
.text-data .h6, h6 {
    margin-left: 3px;
    margin-bottom: 19px;
    font-size: 1rem;
}
.text-again{
    position: absolute;
   
    bottom: 100px;
    right: -500px;
    color: black;
    font-family: 'Grandstander', cursive;

}
.text-again h3{
    font-weight: bold;
    color: black;
    font-family: 'Grandstander', cursive;
}
.special-offer .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -161px;
    position: absolute;
    left: 324px;
    bottom: 199px;
    z-index: 1;
}
.special-offer .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: orange;
    border: 2px solid orange;
}
.special-offer .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    margin: 0px 7px;
    background: white;
    display: block;
    border: 2px solid orange;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.header-end .col-3 ul li{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-end .col-3{
    display: flex;
}
.header-end .col-3 a{
    text-decoration: none;
    color: orange;
}
.header-end .col-3 span{
    
    margin-right: 12px;
    background-color: rgba(128,128, 128,.2);
    padding: 16px;
    border-radius: 50%;
    font-size: 25px;
}
.header-end .col-3 h3{
    margin-top: 9px;
    font-size: 15px;
    color: orange;
    font-weight: bolder;
}
.header-end .col-3 h4{
    font-size: 15px;
    font-weight: bold;
}
.main-bgc{
    background-color: rgba(255,165, 0, .1);
}
.top-category .col-4 img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.top-category .col-4{
    display: flex;
    padding: 10px;
    border: 2px dotted orange;
}
.top-category .col-4 .specs{
    margin-left: 8px;
}
.top-category .col-4 .specs h4{
    font-size: 12px;
    
}
.top-category .col-4 .specs h4 {
    font-size: 18px;
    font-weight: bold;
    color: blue;
}
.top-category a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: blue;
    padding: 6px 12px;
    border: 2px dotted blue;
    border-radius: 19px;
    font-size: bl;
}
.top-category a:hover {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: orange;
    padding: 6px 12px;
    border: 2px dotted orange;
    border-radius: 19px;
    font-size: bl;
}

.top-category .col-4 .specs h4.orange {
    font-size: 18px;
    font-weight: bold;
    color: orange;
}

.top-category a.orange {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: orange;
    padding: 6px 12px;
    border: 2px dotted orange;
    border-radius: 19px;
    font-size: bl;
}

.top-category a.orange:hover {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: blue;
    padding: 6px 12px;
    border: 2px dotted blue;
    border-radius: 19px;
    font-size: bl;
}
.white{
    background-color: white;
}
.red{
    background-color: rgba(255, 0, 0, .1);
}
.green{
    background-color: rgba(0,128,0,.1);
}
.img-section .col-8 img{
    width: 100%;
    border-radius: 12px;
    height: 400px;
    position: relative;
}
.img-section .col-3 img{
    width: 100%;
    height: 190px;
    margin: 4px;
    border-radius: 12px;
}
.img-section .col-8{
    position: relative;
}
.img-section .h2{
    position: absolute;
    bottom: 0px;
    left:370px ;
}
.img-section .h2 h2{
    font-family: 'Grandstander', cursive;
background-color: white;
padding: 40px;

margin-top: 12px;
border-radius: 12px;
border: 3px dotted pink;

}
.blue{
    color: blue;
}
.bg-body-tertiary {
    margin-top: 22px;
    --bs-bg-opacity: none;
}
.items-section .col-3 img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.items-section .col-3 span {
    font-size: 19px;
}
.items-section .col-3 h2 {
    font-size: 17px;
    font-weight: bolder;
}
.items-section .h4, h4 {
    font-size: 19px;
    font-weight: bold;
    color: orange;
}
.big-line{
    width: 100%;
    height: 4px;
    background-color:  orange;
    font-weight: bolder;
    border-radius: 20px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 24px;
    background: white;
    display: block;
    -webkit-backface-visibility: visible;
    border: 2px solid orange;
    transition: opacity 200ms ease;
    border-radius: 0px;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.main-content .owl-theme .owl-dots {
    text-align: left;
    margin-left: 92px;
}
.main-content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: orange;
}
.main-content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: orange;
    border: 2px solid orange;
}

.kids-img .col-6 img{
    width: 100%;
    height: 500px;
    border: 2px dotted orange;
    margin-bottom: 30px;
}
.kids-img .col-6{
    position: relative;
}
.kids-img .col-6 h3{
    position: absolute;
    top:200px;
    padding: 15px 25px;
    border-radius: 20px;
    border: 2px dotted rgb(160, 194, 241);
    background-color: white;
    color:rgb(69, 100, 202);
    right: 250px;
    
    font-family: 'Grandstander', cursive;
}
.kids-img .col-6 img.heart{
    position: absolute;
    top: 180px;
    width: 40px;
    height: 40px;
    border: none;
    right: 230px;
}

.inner-sec{
    position: absolute;
    top: 120px;
    right: 170px;
    padding: 50px;
    border-radius:10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}
.kids-img .col-6 h1{
    position: unset;
    font-family: 'Grandstander', cursive;
color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size:40px;
}
.kids-img .col-6 h4{
    margin-left: 100px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color:rgb(69, 100, 202);

}

.kids-img .col-6 h6{
    margin-bottom: 20px;
}

.kids-img .col-6 a{
    margin-left: 120px;
    text-decoration: none;
    color: white;
    background-color:rgb(69, 100, 202);
    padding: 12px ;
    border-radius: 30px;
}


.footer .second-last-footer{
    background-color: rgba(255,165,0,.1);
}
.second-last-footer h3{
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}
.second-last-footer a{
    margin-bottom: 8px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.second-last-footer img{
    width: 70px;
    height:70px;
}
.second-last-footer{
    position: relative;
}
.second-last-footer h3.contact{
    position: absolute;
    top: 150px;
    left: 850px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}
.second-last-footer ul{
    
    position: absolute;
    top: 170px;
    left: 820px;
    list-style-type: none;
}
.second-last-footer span{
    display: block;
    position: absolute;
    left: 2px;
    color: blue;
    font-size: 20px;
}

.second-last-footer h3.second{
    position: absolute;
    top: 150px;
    left:700px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;


}

.second-last-footer ul.second-ul{
    
    position: absolute;
    top: 170px;
    left: 690px;
    list-style-type: none;
}
.last-footer  {
    background-color:rgba(15, 10, 222,.1);
}
.last-footer .col ul{
    list-style-type: none;    
    display: flex;
    align-items: center;
}
.last-footer .col ul li{
    margin:20px 10px;
    
}
.last-footer .col ul li a{
    text-decoration: none;
    font-size: 20px;
}
.last-footer .col img{
    width: 40px;
    margin: 14px 15px;
    height: 40px;
}

@media (max-width:1399.98px){
    .special-offer .col-7 img{
        width: unset;
    }
    .main-content{
        overflow: hidden;
    }
    .footer{
        overflow: hidden;
    }
    .header{
        overflow: hidden;
    }
    
    .top-navbar .col h5 {
        margin-top: 6px;
        font-size: 12px;
        margin-left: 150px;
    }
    
    .navbar-nav a {
        margin-left: 8px;
        font-weight: bold;
        font-size: 10px;
    }
    
.navbar-nav a.right-icons span{
    margin-left: 12px;
    font-size: 10px;
}
    
    .navbar-nav a.right-icons {
        text-decoration: none;
        color: black;
        display: flex;
        margin-left: 50px;
    }
        
    .navbar img {
        height: 60px;
        width: 60px;
        margin-left: 250px;
    }
    
    .navbar h4 {
        font-size: 10px;
        border-radius: 50%;
        padding: 15px;
        border: 2px dotted red;
        color: purple;
    }
    .category {
        position: absolute;
        top: 18%;
        left: 43%;
    }
    .search-bar .parent-orange {
        border-radius: 11px;
        width: 262px;
        background-color: orange;
        padding: 13px 13px;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
.search-bar .col-6 .most-searched{
    display: flex;
    margin-top: 4px;
}
.most-searched a{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
    margin: 0px 5px;
    
}

.most-searched a:hover{
    color: orange;
}
.most-searched h5{
    font-weight: 400;
    color: black;
    margin-top: unset;
}
.text-data a {
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 12px;
    border-radius: 15px;
    background-color: #ef617a;
    font-family: 'Grandstander', cursive;
}
.text-data {
    position: absolute;
    top: 100px;
    right: -349px;
}
.text-data .h3, h3 {
    font-size: 18px;
    font-weight: bold;
    color: #ef617a;
    font-family: 'Grandstander', cursive;
}
.text-data .h6, h6 {
    margin-left: 3px;
    margin-bottom: 19px;
    font-size: 15px;
}
.text-data .h1, h1 {
    font-size: 2.3rem;
    font-weight: bolder;
    font-family: 'Grandstander', cursive;
}
.special-offer img {
    width: 220px;
    height: 250px;
    width: 12;
    border-radius: 6px;
    margin-left: 23px;
}
.line {
    width: 259px;
    overflow: hidden;
    height: 8px;
    background-color: rgba(128,128, 128,.3);
    border-radius: 50px;
}
.text-data .h3, h3 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #ef617a;
    font-family: 'Grandstander', cursive;
}
.launch-time div p {
    background-color: pink;
    border-radius: 50%;
    margin: 8px;
    padding: 8px 8px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}
.special-offer .col-5 img {
    border-radius: 10px;
    width: 100%;
    height: 100px;
}
.two-images .col-5 img {
    height: 195px;
    width: 15%;
}

.special-offer .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -161px;
    position: absolute;
    left: 241px;
    bottom: 199px;
    z-index: 1;
}

.text-again {
    position: absolute;
    bottom: 100px;
    right: -402px;
    color: black;
    font-family: 'Grandstander', cursive;
}
.header-end .col-3 span {
    margin-right: 12px;
    background-color: rgba(128,128, 128,.2);
    padding: 16px;
    border-radius: 50%;
    font-size: 23px;
}

.white{
    background-color: white;
}
.red{
    background-color: rgba(255, 0, 0, .1);
}
.green{
    background-color: rgba(0,128,0,.1);
}
.items-section .col-3 h2 {
    font-size: 16px;
    font-weight: bolder;
}

.kids-img .col-6 a {
    font-size: 14px;
    margin-left: 90px;
    text-decoration: none;
    color: white;
    background-color: rgb(69, 100, 202);
    padding: 9px;
    border-radius: 30px;
}
.kids-img .col-6 h1 {
    position: unset;
    font-family: 'Grandstander', cursive;
    color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size: 32px;
}
.kids-img .col-6 h4 {
    margin-left: 82px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color: rgb(69, 100, 202);
}

.h6, h6 {
    font-size: 12px;
}
.inner-sec {
    position: absolute;
    top: 120px;
    right: 121px;
    padding: 40px;
    border-radius: 10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}

.second-last-footer ul.second-ul {
    position: absolute;
    top: 170px;
    left: 530px;
    list-style-type: none;
}
.second-last-footer h3.second {
    position: absolute;
    top: 150px;
    left: 530px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.second-last-footer ul {
    position: absolute;
    top: 170px;
    left:650px;
    list-style-type: none;
}
.second-last-footer h3.contact {
    position: absolute;
    top: 150px;
    left: 690px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.header{
    overflow: hidden;
}
.main-content{
    overflow: hidden;
}
.footer{
    overflow: hidden;

}

}
@media (min-width:992px) and (max-width:1199.98px){
    .footer{
        overflow: hidden;
    }
    .header{
        overflow: hidden;
    }
    .main-content{
        overflow: hidden;
    }
    .navbar-nav a.right-icons {
        text-decoration: none;
        color: black;
        display: unset;
        
        margin-left: 50px;
    }
    
    .navbar h4 {
        font-size: 10px;
        border-radius: 50%;
        padding: 20px;
        border: 2px dotted red;
        color: purple;
    }
    .navbar img {
        height: 50px;
        width: 50px;
        margin-left: 100px;
    }
    .category {
        position: absolute;
        top: 18%;
        left: 43%;
    }
    .search button, input, optgroup, select, textarea {
        margin: 0;
        width: 438px;
        border: none;
        height: 45px;
        border-radius: 48px;
        margin-top: 0px;
        margin-right: -40px;
        border: 1px solid orange;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .search-bar .parent-orange a {
        font-size: 12px;
        font-weight: bolder;
        margin: 0px 18px;
    }
    .search-bar .parent-orange span {
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
    .search-bar .parent-orange {
        border-radius: 11px;
        width: 240px;
        background-color: orange;
        padding: 13px 13px;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }
       
.search-bar .col-6 .most-searched{
    display: flex;
    margin-top: 4px;
}
.most-searched a{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    color: black;
    margin: 0px 4px;
    
}

.most-searched a:hover{
    color: orange;
}
.most-searched h5{
    font-weight: 400;
    color: black;
    margin-top: unset;
}
.special-offer .col-7 img {
    border-radius: 10px;
    width: unset;
    height: 412px;
}
.text-data a {
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 12px;
    border-radius: 15px;
    background-color: #ef617a;
    font-family: 'Grandstander', cursive;
}
.text-data {
    position: absolute;
    top: 100px;
    right: -340px;
}
.text-data .h3, h3 {
    font-size: 12px;
    font-weight: bold;
    color: #ef617a;
    font-family: 'Grandstander', cursive;
}
.text-data .h1, h1 {
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: 'Grandstander', cursive;
}
.text-data .h6, h6 {
    margin-left: 3px;
    margin-bottom: 19px;
    font-size: 11px;
}
.launch-time div p {
    background-color: pink;
    border-radius: 50%;
    margin: 8px;
    padding: 8px 8px;
    font-size: 21px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}
.launch-time div span {
    margin-left: 14px;
    font-size: 14px;
    font-weight: bolder;
}
.line {
    width: 203px;
    overflow: hidden;
    height: 8px;
    background-color: rgba(128,128, 128,.3);
    border-radius: 50px;
}
.price {
    margin-left: 49px;
}
.text-data .h3, h3 {
    font-size: 12px;
    font-weight: bold;
    color: #ef617a;
    font-family: 'Grandstander', cursive;
}
.special-offer img {
    width: 177px;
    height: 250px;
    width: 12;
    border-radius: 6px;
    margin-left: 23px;
}
.special-offer .material-symbols-outlined {
    font-size: 21px;
   
}
.launch-time div p {
    background-color: pink;
    border-radius: 50%;
    margin: 8px;
    padding: 8px 8px;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}
.special-offer h2 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Grandstander', cursive;
}

.two-images .col-5 img {
    height: 195px;
    width: 15%;
}
.text-again {
    position: absolute;
    bottom: 100px;
    right: -371px;
    color: black;
    font-family: 'Grandstander', cursive;
}
.two-images .col-5 img {
    height: 195px;
    width: 252px;
}
.special-offer .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -161px;
    position: absolute;
    left: 194px;
    bottom: 199px;
    z-index: 1;
}
.header-end .col-3 h4 {
    font-size: 10px;
    font-weight: bold;
}

.white{
    background-color: white;
}
.red{
    background-color: rgba(255, 0, 0, .1);
}
.green{
    background-color: rgba(0,128,0,.1);
}

.img-section .h2 {
    position: absolute;
    bottom: 0px;
    left: 237px;
}
.items-section .h4, h4 {
    font-size: 16px;
    font-weight: bold;
    color: orange;
}
.items-section .col-3 img {
    width: 223px;
    height: 223px;
    border-radius: 20px;
}
.items-section .col-3 h2 {
    font-size: 13px;
    font-weight: bolder;
}
.items-section .col-3 span {
    font-size: 17px;
}

.kids-img .col-6 a {
    font-size: 12px;
    margin-left: 84px;
    text-decoration: none;
    color: white;
    background-color: rgb(69, 100, 202);
    padding: 9px;
    border-radius: 8px;
}
.inner-sec {
    position: absolute;
    top: 120px;
    right: 68px;
    padding: 30px;
    border-radius: 10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}

.h6, h6 {
    font-size: 11px;
}

.kids-img .col-6 h1 {
    position: unset;
    font-family: 'Grandstander', cursive;
    color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size: 28px;
}
.kids-img .col-6 h4 {
    margin-left: 69px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color: rgb(69, 100, 202);
}
.footer{
    overflow: hidden;
}

.second-last-footer ul.second-ul {
    position: absolute;
    top: 170px;
    left: 420px;
    list-style-type: none;
}
.second-last-footer h3.second {
    position: absolute;
    top: 150px;
    left: 420px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.second-last-footer ul {
    position: absolute;
    top: 170px;
    left:535px;
    list-style-type: none;
}
.second-last-footer h3.contact {
    position: absolute;
    top: 150px;
    left: 590px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}

}
@media(min-width:768px)and (max-width:991.98px){
    .header{
        overflow: hidden;
    }
    .main-content{
        overflow: hidden;
    }
    .navbar-nav a.right-icons {
        text-decoration: none;
        color: black;
        display: block;
        margin-left: 0px;
    }
    .navbar img {
        height: 60px;
        width: 60px;
        margin-left: 0px;
    }
    .top-navbar .col h5 {
        margin-top: 6px;
        font-size: 8px;
        margin-left: 150px;
    }
    .top-navbar .col a {
        text-decoration: none;
        margin-left: 10px;
        font-size: 8px;
        color: orange;
        font-weight: 700;
    }
    .top-navbar .col span {
        padding: 2px;
        border-radius: 50%;
        font-size: 10px;
        margin-left: 4px;
        color: white;
        background-color: orange;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    .navbar-nav a.right-icons {
        text-decoration: none;
        color: black;
        display: grid;
        margin-left: 0px;
    }
    .category {
        position: absolute;
        top: 20%;
        left: 34%;
    }
    
    .category .h2, h2 {
        font-size: 13px;
    }
    .search button, input, optgroup, select, textarea {
        margin: 0;
        width: 323px;
        border: none;
        height: 45px;
        border-radius: 48px;
        margin-top: 0px;
        margin-right: -40px;
        border: 1px solid orange;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .search-bar .parent-orange {
        border-radius: 11px;
        width: 220px;
        background-color: orange;
        padding: 12px 12px;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .search-bar .parent-orange a {
        font-size: 10px;
        font-weight: bolder;
        margin: 0px 18px;
    }
    .search-bar .parent-orange span {
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
    .offset-1  {
        margin-left: 4.333333%;
    }
    .search-bar .col-6 .most-searched {
        display: flex;
        margin-top: 0px;
    }
    .most-searched h5 {
        font-size: 12px;
        font-weight: 400;
        color: black;
        margin-top: unset;
    }
    .most-searched a {
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
        color: black;
        margin: 0px 5px;
    }
    .text-data .h6, h6 {
        margin-left: 3px;
        margin-bottom: 0px;
        font-size: 7px;
    }
    .special-offer .col-7 img {
        width: fit-content;
    }
    .text-data {
        position: absolute;
        top: 76px;
        right: -20px;
    }
    .text-data .h1, h1 {
        font-size: 1rem;
        font-weight: bolder;
        font-family: 'Grandstander', cursive;
    }
    .text-data .h3, h3 {
        font-size: 10px;
        font-weight: bold;
        color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .text-data a {
        text-decoration: none;
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: white;
        font-size: 8px;
        padding: 8px;
        border-radius: 15px;
        background-color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .special-offer img {
        width: 140px;
        height: 250px;
        width: 12;
        border-radius: 6px;
        margin-left: 1px;
    }
    .price {
        margin-left: 22px;
    }
    .text-data .h3, h3 {
        font-size: 12px;
        font-weight: bold;
        color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .special-offer .material-symbols-outlined {
        font-size: 18px;
        
    }
    .text-data .h6, h6 {
        margin-left: 3px;
        margin-bottom: 0px;
        font-size: 11px;
    }
    .line h1 {
        height: 8px;
        width: 65px;
        background-color: pink;
        border-radius: 50px;
    }
    .line {
        margin-top: 12px;
        width: 149px;
        overflow: hidden;
        height: 8px;
        background-color: rgba(128,128, 128,.3);
        border-radius: 50px;
    }
    .launch-time div span {
        margin-left: 9px;
        font-size: 13px;
        font-weight: bolder;
    }
    .launch-time div p {
        background-color: pink;
        border-radius: 10%;
        margin: 8px;
        padding: 6px 6px;
        font-size: 13px;
        font-weight: bolder;
        color: white;
        margin-bottom: 4px;
    }
    .two-images .col-5 img {
        height: 127px;
        width: 250px;
    }
    .text-again {
        position: absolute;
        bottom: 74px;
        right: -226px;
        color: black;
        font-family: 'Grandstander', cursive;
    }
    .special-offer .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: -161px;
        position: absolute;
        left: 91px;
        bottom: 130px;
        z-index: 1;
    }
    .header-end .col-3 span {
        margin-right: 5px;
        background-color: rgba(128,128, 128,.2);
        padding: 16px;
        border-radius: 50%;
        font-size: 18px;
    }
    .header-end .col-3 h3 {
        margin-top: 9px;
        font-size: 12px;
        color: orange;
        font-weight: bolder;
    }
    .header-end .col-3 h4 {
        font-size: 7px;
        font-weight: bold;
    }
    .top-category a {
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: blue;
        padding: 3px 9px;
        border: 2px dotted blue;
        border-radius: 19px;
        font-size: 10px;
    }
    .top-category .col-4 .specs h4 {
        font-size: 13px;
        font-weight: bold;
        color: blue;
    }
    .top-category .h6, h6 {
        margin-left: 3px;
        margin-bottom: 0px;
        font-size: 9px;
    }
    
.white{
    background-color: white;
}
.red{
    background-color: rgba(255, 0, 0, .1);
}
.green{
    background-color: rgba(0,128,0,.1);
}
.img-section .h2 {
    position: absolute;
    bottom: 0px;
    left: 144px;
}
.items-section .h4, h4 {
    font-size: 17px;
    font-weight: bold;
    color: orange;
}
.items-section .col-3 span {
    font-size: 17px;
}
.items-section .col-3 h2 {
    font-size: 13px;
    font-weight: bolder;
}
.items-section .col-3 img {
    width: 156px;
    height: 156px;
    border-radius: 20px;
}

.kids-img .col-6 h1 {
    position: unset;
    font-family: 'Grandstander', cursive;
    color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size: 24px;
}

.kids-img .col-6 h4 {
    margin-left: 52px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color: rgb(69, 100, 202);
}
.h6, h6 {
    font-size: 10px;

}
.kids-img .col-6 a {
    font-size: 11px;
    margin-left: 86px;
    text-decoration: none;
    color: white;
    background-color: rgb(69, 100, 202);
    padding: 8px;
    border-radius: 30px;
}

.kids-img .col-6 h3 {
    position: absolute;
    top: 200px;
    padding: 15px 25px;
    border-radius: 20px;
    border: 2px dotted rgb(160, 194, 241);
    background-color: white;
    color: rgb(69, 100, 202);
    right: 169px;
    font-family: 'Grandstander', cursive;
}

.inner-sec {
    position: absolute;
    top: 120px;
    right: 38px;
    padding: 29px;
    border-radius: 10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}
.footer{
    overflow: hidden;
}

    
.second-last-footer ul.second-ul {
    position: absolute;
    top: 170px;
    left: 350px;
    list-style-type: none;
}
.second-last-footer h3.second {
    position: absolute;
    top: 150px;
    left: 350px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.second-last-footer ul {
    position: absolute;
    top: 170px;
    left:485px;
    list-style-type: none;
}
.second-last-footer h3.contact {
    position: absolute;
    top: 150px;
    left: 500px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
}
@media(min-width:576px)and (max-width:767.98px){
    .footer{
        overflow: hidden;
    }
    .header{
        overflow: hidden;
    }
    .main-content{
        overflow: hidden;
    }
    .navbar img {
        height: 60px;
        width: 60px;
        margin-left: 0px;
    }
    
    .top-navbar .col h5 {
        margin-top: 6px;
        font-size: 8px;
        margin-left: 70px;
    }
    .top-navbar .col a {
        text-decoration: none;
        margin-left: 10px;
        font-size: 8px;
        color: orange;
        font-weight: 700;
    }
    .top-navbar .col span {
        padding: 2px;
        border-radius: 50%;
        font-size: 10px;
        margin-left: 4px;
        color: white;
        background-color: orange;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    .navbar-nav a.right-icons {
        text-decoration: none;
        color: black;
        display: grid;
        margin-left: 0px;
    }
    .search-bar .parent-orange a {
        font-size: 8px;
        font-weight: bolder;
        margin: 0px 10px;
    }
    .search-bar .parent-orange span {
        font-size: 14px;
        font-weight: bolder;
        color: white;
    }
    .search-bar .parent-orange {
        border-radius: 11px;
        width: 180px;
        background-color: orange;
        padding: 14px;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .category {
        display: none;
        position: absolute;
        top: 21%;
        left: 28%;
    }
    
    .search button, input, optgroup, select, textarea {
        margin: 0;
        width: 234px;
        border: none;
        height: 39px;
        border-radius: 48px;
        margin-top: 0px;
        margin-right: -40px;
        border: 1px solid orange;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .search-bar .col-6 .most-searched {
        display: flex;
        margin-top: 0px;
    }
    .most-searched h5 {
        font-weight: 400;
        color: black;
        margin-top: unset;
        font-size: 9px;
    }
    .most-searched h5 {
        font-weight: 400;
        color: black;
        margin-top: unset;
        font-size: 9px;
    }
    .most-searched a {
        text-decoration: none;
        font-weight: bold;
        font-size: 8px;
        color: black;
        margin: 0px 5px;
    }
    .special-offer .col-7 img {
        width: fit-content;
    }
    .text-data a {
        text-decoration: none;
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: white;
        font-size: 9px;
        padding: 8px;
        border-radius: 15px;
        background-color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .text-data {
        position: absolute;
        top: 27px;
        right: -1px;
    }
    .text-data .h3, h3 {
        font-size: 11px;
        font-weight: bold;
        color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .text-data .h6, h6 {
        margin-left: 3px;
        margin-bottom: 8px;
        font-size: 10px;
    }
    .text-data .h1, h1 {
        font-size: 1.3rem;
        font-weight: bolder;
        font-family: 'Grandstander', cursive;
    }
    .special-offer h2 {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Grandstander', cursive;
    }
    .special-offer img {
        width: 102px;
        height: 150px;
        width: 12;
        border-radius: 6px;
        margin-left: 9px;
    }
    .text-data .h3, h3 {
        font-size: 11px;
        font-weight: bold;
        color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .price {
        margin-left: -5px;
    }
    .special-offer .material-symbols-outlined {
        font-size: 16px;
    }
    .line h1 {
        height: 8px;
        width: 59px;
        background-color: pink;
        border-radius: 50px;
    }
    .line {
        width: 100px;
        overflow: hidden;
        height: 8px;
        background-color: rgba(128,128, 128,.3);
        border-radius: 50px;
    }
    .spacing h6.one {
        margin: 0px;
        font-size: 9px;
    }
    .spacing h6 {
        font-size: 9px;
        margin-right: 10px;
    }
    .launch-time div p {
        background-color: pink;
        border-radius: 50%;
        margin: 8px;
        padding: 4px 4px;
        font-size: 11px;
        font-weight: bolder;
        color: white;
        margin-bottom: 8px;
    }
    .launch-time div span {
        font-size: 9px;
        margin-left: 6px;
        font-weight: bolder;
    }
    .launch-time div {
        flex-basis: 100px;
        margin-right: -6px;
    }
    .two-images .col-5 img {
        height: 89px;
        width: 250px;
    }
    .text-again {
        position: absolute;
        bottom: 43px;
        right: -166px;
        color: black;
        font-family: 'Grandstander', cursive;
    }
    .special-offer .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: -161px;
        position: absolute;
        left: 51px;
        bottom: 85px;
        z-index: 1;
    }
    
    .header-end .col-3 h4 {
        font-size: 4px;
        font-weight: bold;
    }
    .header-end .col-3 h3 {
        margin-top: 9px;
        font-size: 9px;
        color: orange;
        font-weight: bolder;
    }
    .header-end .col-3 span {
        margin-right: 0px;
        background-color: rgba(128,128, 128,.2);
        padding: 13px;
        border-radius: 50%;
        font-size: 14px;
    }
    .top-category .col-4 {
        display: unset;
        padding: 10px;
        border: 2px dotted orange;
    }
    .top-category .col-4 .specs {
        margin-left: 13px;
    }
    .top-category a {
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: blue;
        padding: 3px 6px;
        border: 2px dotted blue;
        border-radius: 19px;
        font-size: 13px;
    }
    
    .top-category a.orange{
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: orange;
        padding: 3px 6px;
        border: 2px dotted orange;
        border-radius: 19px;
        font-size: 13px;
    }
    .top-category h6 {
        margin-left: 0px;
        margin-bottom: 8px;
        font-size: 9px;
    }
    .top-category .col-4 .specs h4 {
        font-size: 16px;
        font-weight: bold;
        color: blue;
    }
    .top-category .col-4 img {
        width: 100px;
        height: 100px;
        margin-left: 16px;
        border-radius: 6px;
    }
    
    .top-category .col-4 .specs h4.orange {
        font-size: 16px;
        font-weight: bold;
        color: orange;
    }
    
.white{
    background-color: white;
}
.red{
    background-color: rgba(255, 0, 0, .1);
}
.green{
    background-color: rgba(0,128,0,.1);
}
.img-section .h2 {
    position: absolute;
    bottom: 0px;
    left: 60px;
}
.img-section .h2 h2 {
    font-family: 'Grandstander', cursive;
    background-color: white;
    padding: 20px;
    margin-top: 12px;
    border-radius: 12px;
    border: 3px dotted pink;
}
.items-section .col-3 h2 {
    font-size: 10px;
    font-weight: bolder;
}
.items-section .col-3 img {
    width: 127px;
    height: 127px;
    border-radius: 20px;
}
.items-section .col-3 span {
    font-size: 12px;
}
.items-section .h4, h4 {
    font-size: 13px;
    font-weight: bold;
    color: orange;
}

.inner-sec {
    position: absolute;
    top: 120px;
    right: 41px;
    padding: 19px;
    border-radius: 10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}
.kids-img .col-6 h1 {
    position: unset;
    font-family: 'Grandstander', cursive;
    color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size: 20px;
}
.kids-img .col-6 h4 {
    margin-left: 24px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color: rgb(69, 100, 202);
}
.h4, h4 {
    font-size: 19px;
}
.h6, h6 {
    font-size: 7px;
}
.kids-img .col-6 a {
    font-size: 8px;
    margin-left: 57px;
    text-decoration: none;
    color: white;
    background-color: rgb(69, 100, 202);
    padding: 9px;
    border-radius: 30px;
}
.kids-img .col-6 h3 {
    position: absolute;
    top: 200px;
    padding: 15px 25px;
    border-radius: 20px;
    border: 2px dotted rgb(160, 194, 241);
    background-color: white;
    color: rgb(69, 100, 202);
    right: 103px;
    font-family: 'Grandstander', cursive;
}
 
.kids-img .col-6 img.heart {
    position: absolute;
    top: 180px;
    width: 40px;
    height: 40px;
    border: none;
    right: 90px;
}
.kids-img .col-6 h3 {
    position: absolute;
    top: 200px;
    padding: 15px 25px;
    border-radius: 20px;
    border: 2px dotted rgb(160, 194, 241);
    background-color: white;
    color: rgb(69, 100, 202);
    font-size: 12px;
    right: 13px;
    font-family: 'Grandstander', cursive;
}


    
.second-last-footer ul.second-ul {
    position: absolute;
    top: 170px;
    left: 337px;
    list-style-type: none;
}
.second-last-footer h3.second {
    position: absolute;
    top: 134px;
    left: 357px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.second-last-footer ul {
    position: absolute;
    top: 170px;
    left:449px;
    list-style-type: none;
}
.second-last-footer h3.contact {
    position: absolute;
    top: 134px;
    left: 488px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
}
@media (max-width:575.98px) {
    .main-content{
        overflow: hidden;
    }
    .footer{
        overflow: hidden;
    }

    .header{
        overflow: hidden;
    }
    .navbar img {
        height: 60px;
        width: 60px;
        margin-left: 0px;
    }
    
    
    .top-navbar .col h5 {
        margin-top: 6px;
        font-size: 5px;
        margin-left: 10px;
    }
    .top-navbar .col a {
        text-decoration: none;
        margin-left: 10px;
        font-size: 5px;
        color: orange;
        font-weight: 700;
    }
    .top-navbar .col span {
        padding: 2px;
        border-radius: 50%;
        font-size: 6px;
        margin-left: 4px;
        color: white;
        background-color: orange;
    }
  
    .navbar-nav {
        margin-left: 0px;
    }
    .navbar-nav a.right-icons {
        text-decoration: none;
        color: black;
        display: grid;
        margin-left: 0px;
    }
    .offset-1 {
        margin-left: 0.333333%;
    }
    .search-bar .parent-orange a {
        display: none;
        font-size: 16px;
        font-weight: bolder;
        margin: 0px 18px;
    }
    .search-bar .parent-orange {
        border-radius: 11px;
        width: 53px;
        background-color: orange;
        padding: 13px 13px;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .category {
        display: none;
        position: absolute;
        top: 18%;
        left: 56%;
    }
    .search button, input, optgroup, select, textarea {
        margin: 0;
        height: 0px;
        width: 0px;
        border: none;
        height: 45px;
        border-radius: 48px;
        margin-top: 0px;
        margin-right: -40px;
        border:unset;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .search-bar .col-6{
        display: none;
    }
    .special-offer .col-7 img {
        width: 125px;
    }
    .text-data {
        display: none;
        top: 76px;
        right: -20px;
    }
    .spacing {
        display: unset;
        justify-content: space-between;
    }
    .spacing h6 {
        font-size: 10px;
        margin-right: 10px;
    }
    .spacing h6.one {
        margin: 0px;
        font-size: 10px;
    }
    .line h1 {
        height: 8px;
        width: 42px;
        background-color: pink;
        border-radius: 50px;
    }
    .text-data .h1, h1 {
        font-size: 2.3rem;
        font-weight: bolder;
        font-family: 'Grandstander', cursive;
    }
    .line {
        width: 83px;
        overflow: hidden;
        height: 8px;
        background-color: rgba(128,128, 128,.3);
        border-radius: 50px;
    }
    .launch-time div {
        flex-basis: 100px;
        margin-right: -18px;
    }
    .launch-time div {
        flex-basis: 100px;
        margin-right: -18px;
    }
    .launch-time div p {
        background-color: unset;
        border-radius: 50%;
        margin: 8px;
        padding: unset;
        font-size: 8px;
        font-weight: bolder;
        color: black;
        margin-bottom: 8px;
    }
    .launch-time div span {
        margin-left: 7px;
        font-weight: 100;
        font-size: 7px;
    }
    .special-offer img {
        width: 220px;
        height: 250px;
        width: 12;
        border-radius: 6px;
        margin-left: 23px;
        display: none;
    }
    .price {
        margin-left: 0px;
    }
    .text-data .h6, h6 {
        margin-left: 3px;
        margin-bottom: 19px;
        font-size: 12px;
    }
    .special-offer h2 {
        font-size: 10px;
        font-weight: bold;
        font-family: 'Grandstander', cursive;
    }
    .special-offer h2 {
        font-size: 10px;
        font-weight: bold;
        font-family: 'Grandstander', cursive;
    }
    .text-data .h3, h3 {
        margin-top: 12px;
        font-size: 11px;
        font-weight: bold;
        color: #ef617a;
        font-family: 'Grandstander', cursive;
    }
    .special-offer .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
    .two-images .col-5 img {
    height: 89px;
    width: 127px;
}
    .two-images .col-5 {
        width: 50%;
        display: block;
    }
    
    .text-again {
        display: none;
        position: absolute;
        bottom: 43px;
        right: -166px;
        color: black;
        font-family: 'Grandstander', cursive;
    }
    .special-offer .owl-theme .owl-nav.disabled + .owl-dots {
        display: none;
        margin-top: -161px;
        position: absolute;
        font-size: 16px;
        padding: -80px;
        left: 22px;
        bottom: 172px;
        z-index: 1;
    }
    .header-end .col-3 {
        display: block;
    }
    .header-end .col-3 span {
        margin-right: 0px;
        background-color: rgba(128,128, 128,.2);
        padding: 10px;
        border-radius: 50%;
        font-size: 12px;
    }
    .header-end .col-3 h3 {
        margin-top: 4px;
        font-size: 5px;
        color: orange;
        font-weight: 200;
    }
    .header-end .col-3 h4 {
        font-size: 4px;
        font-weight: bold;
    }
    .top-category .col-4 {
        display: unset;
        padding: 10px;
        border: 2px dotted orange;
    }
    .top-category .col-4 img {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        margin-left: 6px;
    }
    .top-category a {
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: blue;
        padding: unset;
        border: unset;
        border-radius: 19px;
        font-size: 9px;
    }
    .top-category a.orange {
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
        text-decoration: none;
        color: orange;
        padding: unset;
        border: unset;
        border-radius: 19px;
        font-size: 9px;
    }
    .top-category .h6, h6 {
        margin-left: 0px;
        margin-bottom: 14px;
        font-size: 5px;
    }
    .top-category .col-4 .specs h4 {
        font-size: 7px;
        font-weight: bold;
        color: blue;
    }
    
    .top-category .col-4 .specs h4.orange {
        font-size: 7px;
        font-weight: bold;
        color: orange;
    }
    
    .inner-sec {
        position: absolute;
        top: 120px;
        right: 41px;
        padding: 19px;
        border-radius: 10px;
        border: 2px dotted rgb(69, 100, 202);
        background-color: white;
    }
.white{
    background-color: white;
}
.red{
    background-color: rgba(255, 0, 0, .1);
}
.green{
    background-color: rgba(0,128,0,.1);
}
.img-section .h2 {
    position: absolute;
    bottom: 0px;
    left: 13px;
}
.img-section .h2 h2 {
    font-family: 'Grandstander', cursive;
    background-color: white;
    padding: 11px 11px;
    font-size: 6px;
    margin-top: 0px;
    border-radius: 12px;
    border: 3px dotted pink;
}
.img-section .col-8{
    overflow: hidden;
}
.items-section .col-3 {
    flex: 0 0 auto;
    width: 25%;
    margin: 50px;
}
.items-section .h4, h4 {
    font-size: 17px;
    font-weight: bold;
    color: orange;
}
.items-section .col-3 span {
    font-size: 15px;
    display: contents;
}
.items-section .col-3 img {
    width: 155px;
    height: 155px;
    border-radius: 20px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    display: inline-flex;
}
  
.kids-img .col-6 img.heart {
    position: absolute;
    top: 180px;
    width: 40px;
    height: 40px;
    border: none;
    right: 90px;
}
.main-content .owl-theme .owl-dots {
    text-align: left;
     margin-left: 0px;
}


.inner-sec {
    position: absolute;
    top: 120px;
    right: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dotted rgb(69, 100, 202);
    background-color: white;
}
.h4, h4 {
    font-size: calc(1.275rem + -2.7vw);
}
.kids-img .col-6 h4 {
    margin-left: 15px;
    padding: 10px;
    font-family: 'Grandstander', cursive;
    color: rgb(69, 100, 202);
}
.h6, h6 {
    font-size: 4px;
}
.kids-img .col-6 a {
    font-size: 6px;
    margin-left: 17px;
    text-decoration: none;
    color: white;
    background-color: rgb(69, 100, 202);
    padding: 7px;
    border-radius: 22px;
}

    
.kids-img .col-6 h1 {
    position: unset;
    font-family: 'Grandstander', cursive;
    color: rgb(61, 12, 12);
    top: 150px;
    right: 240px;
    font-size: 10px;
}

    .kids-img .col-6 img.heart {
        position: absolute;
        top: 180px;
        width: 40px;
        height: 40px;
        border: none;
        right: 90px;
    }
    .kids-img .col-6 h3 {
        position: absolute;
        top: 200px;
        padding: 15px 25px;
        border-radius: 20px;
        border: 2px dotted rgb(160, 194, 241);
        background-color: white;
        color: rgb(69, 100, 202);
        font-size: 12px;
        right: 13px;
        font-family: 'Grandstander', cursive;
    }
    
.second-last-footer ul.second-ul {
    position: unset;
    display: none;
    margin-top: 20px;
    top: 170px;
    left: 320px;
    list-style-type: none;
}
.second-last-footer h3.second {
    display: none;
    position: unset;
    top: 150px;
    left: 320px;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.second-last-footer ul {
    position: unset;
    margin-top: 19px;
    top: 170px;
    left:430px;
    list-style-type: none;
}
.second-last-footer h3.contact {
    position: unset;
    top: 150px;
    left: 0px;
    display: none;
    font-size: 15px;
    color: orange;
    font-family: 'Grandstander', cursive;
}
.second-last-footer a {
    margin-bottom: 8px;
    font-size: 8px;
    margin-top: 12px;
    display: unset;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.second-last-footer h3 {
    margin-top: 12px;
    font-size: 12px;
    color: orange;
    font-family: 'Grandstander', cursive;
}

.last-footer .col ul {
    list-style-type: none;
    display: block;
    align-items: center;
}

button, input, optgroup, select, textarea {
    overflow: hidden;
    display: none;
    margin: 0;
    font-family: inherit;
    font-size: 8px;
    line-height: inherit;
}


}